[submodule "third_party/ImageNet-Adversarial-Training"]
	path = third_party/iat
	url = https://github.com/facebookresearch/ImageNet-Adversarial-Training
[submodule "third_party/TRADES"]
	path = third_party/trades
	url = https://github.com/yaodongyu/TRADES/
[submodule "third_party/models"]
	path = third_party/models
	url = https://github.com/tensorflow/models.git
[submodule "third_party/cifar10_challenge"]
	path = third_party/cifar10_challenge
	url = https://github.com/MadryLab/cifar10_challenge
[submodule "third_party/deepdefense"]
	path = third_party/deepdefense_pytorch
	url = https://github.com/ZiangYan/deepdefense.pytorch.git
